.columns {
    float: left;
    width: 50%;
    padding: 8px;
}
  
.values {
    list-style-type: none;
        margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: green;
    border-radius: 10px 10px 10px 10px;
    height: 300px;

}
  
.values:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
  
.values .col-header {
    background-color: #111;
    color: white;
    font-size: 25px;
}
  
.values li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}
  
.values .grey {
    background-color: #eee;
    font-size: 20px;
}
  
.button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    -webkit-transition: 1s;
    transition: 1s;
}

.button:hover {
    background-color:lawngreen;
}
  
@media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}